TOPIC : STRING BASED ASSIGNMENT PROBLEM

ques1) write a program to reverse a string.

In [17]:
string = input("enter ur string:")
reverse = string[::-1]
print("reverse of the string :",reverse)

enter ur string: wassup man

reverse of the string : nam pussaw

ques2) check if a string is palindrome.

In [18]:
string2 = input("enter ur string:")
palindrome = string2[::-1]
if palindrome == string2:
    print("yes")
else:
    print("no")

enter ur string: maam

yes

ques3) convert a string in upper case.

In [14]:
string3 = input("enter ur string:")
string3 = string3.upper()
print("string in upper case:",string3)

enter ur string: shubham

string in upper case: SHUBHAM

ques4) convert a string in lower case

In [15]:
string4 = input("enter ur string:")
string4 = string4.lower()
print("string in lower case:",string4)

enter ur string: SHUBHAM

string in lower case: shubham

ques5) count the number of vowel in a string

In [21]:
string5 = input("enter ur string:")
vowels = ("aeiouAEIOU")
count = sum(string5.count(vowel) for vowel in vowels)
print("the number of vowels in a string:",count)

enter ur string: shubham sharma

the number of vowels in a string: 4

ques6) count the number of consonant in a string

In [23]:
string6 = input("enter ur string:")
consonants = ("bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ")
count = sum(string6.count(consonant) for consonant in consonants)
print("number of consonant in string:",count)

enter ur string: shubham sharma

number of consonant in string: 9

ques7) remove all white spqaces from a string

In [10]:
string7 = input("enter ur string:")
replace = string7.replace(" ","")
print("string without spaces:",replace)

enter ur string: s  hu  bhAM

string without spaces: shubhAM

ques8) find the length of a string without using the len() function.

In [12]:
string8 = input("enter ur string:")
count = 0
for i in string8:
    count+=1
print("the length of a string",count)

enter ur string: SHUBHAM

the length of a string 7

ques9)check if a string contains a specific word

In [11]:
string9 = input("enter ur string:")
specific_word = input("enter the specific word:")
if specific_word in string9:
    print("yes the string contains the specific word:",specific_word)
else:
    print("no the string not contains the specific word:",specific_word)

enter ur string: HE WASSUP GUYS MY NAME IS SHUBHAM
enter the specific word: SHUBHAM

yes the string contains the specific word: SHUBHAM

ques10) replace a word in a string with another word

In [17]:
string10 = input("enter ur string:")
specific_word1 = input("enter ur word:")
if specific_word1 in string10:
    another_word = input("enter ur replacing word:")
    replace = string10.replace(specific_word1,another_word)
    print("the replace string:",replace)
else:
    print("no specific word in the string")

enter ur string: hey wassup my name is shubham
enter ur word: shubham
enter ur replacing word: raghav

the replace string: hey wassup my name is raghav

ques11)count the occurences of a word in a string

In [6]:
string11 = input("enter ur string:")
target_word= input("enter ur word:")
count = sum(string11.count(target_word) for i in target_word)
print("the occurence of the given word:",count)

enter ur string: look cool
enter ur word: o

the occurence of the given word: 4


ques12) count the first occurence of a word in a string

In [7]:
string12 = input("enter ur string:")
target_word = input("enter ur world:")
index = string12.find(target_word)
print("the first occurence of the given word:",index)

enter ur string: shubham
enter ur world: u

the first occurence of the given word: 2

ques13) count the last occurence of a word in string

In [13]:
string13 = input("enter ur string:")
target_word = input("enter ur word:")
index = string13.rfind(target_word)
print("the last occurencen of the given word",index)

enter ur string: shubham
enter ur word: h

the last occurencen of the given word 4

ques14) split a string into a list of words

In [2]:
string14 = input("enter ur string:")
split = string14.split()
print("the list of the string",split)

enter ur string: my name is shubham

the list of the string ['my', 'name', 'is', 'shubham']

ques15) join a list of word into a string

In [22]:
ama=['aman','harsh','subham']
result=" ".join(ama)
print(result)

aman harsh subham

ques16)convert a string where words are separated by spaces to  one where words are sperated by underscores.

In [24]:
string16 = input("enter ur string:")
replace = string16.replace(" ","_")
print(replace)

enter ur string: my name is shubham

my_name_is_shubham

ques17)check if a string starts  with a specific word or phrase.

In [7]:
string = str(input("Enter a string: "))
string = string.startswith("hi")

if(string== True):
    print("the string start with a specific word")
else:
    print("The string does not start with a specific word")

Enter a string:  hi shubham

the string start with a specific word

ques18)check if a string ends with a specific word or phrase

In [4]:
string = str(input("Enter a string: "))
ends = string.endswith("bye")
                             
if(ends==True):
    print("yes the string ends with a specific word ")
else:
    print("NO the string ends with a specific word")

Enter a string:  bro i just wanna say u good bye

yes the string ends with a specific word

ques19)convert a string to title case

In [10]:
string = input("enter ur string:")
string = string.title()
print("the title case string:",string)

enter ur string: hello world

the title case string: Hello World

ques20)find the longest word in a string

In [12]:
string = str("hey whatsupp")
hey = len("hey")
whatsupp = len("whatsupp")
if(hey> whatsupp):
    print("hey is the longest word in a string ")
else:
    print("whatsupp is the longest string")

whatsupp is the longest string

ques21)find the shortest word in a string

In [ ]:
string = str("hey whatsupp")
hey = len ("hey")
whatsupp = len("whatsupp")
if (hey<whatsupp):
    print("hey is the shortest word in a string")
else:
    print("whatsupp is the longest wor in a string")

hey is the shortest word in a string

ques22)reverse the order of words in a string

In [19]:
string = str(input("Enter a string: "))
print(string)

word = str(input("Enter the word that you want to reverse: "))
reverse = word[::-1]
string = string.replace(word,reverse)
print("The new string is :", string)

Enter a string:  hi wassup guys my name is shubham

hi wassup guys my name is shubham

Enter the word that you want to reverse:  wassup

The new string is : hi pussaw guys my name is shubham

ques23) check if a string is alphanumeric

In [20]:
string = str(input("Enter a string: "))
string = string.isalnum()
if(string == True):
    print("Entered string is alphanumeric ")
else: 
    print("Entered string is not alphanumeric ")

Enter a string:  shubham2324

Entered string is alphanumeric

ques24) extract all digits from a string

In [23]:
def extract_digits(text):
    digits = ""
    for char in text:
        if char.isdigit():
            digits += char
    return digits
text = "Hello123World456"
extracted_digits = extract_digits(text)
print("Extracted digits:", extracted_digits)

Extracted digits: 123456

ques25) extract all alphabets from a string

In [6]:
string = input("enter a string")
only_alpha = ""
for char in string:
    if char.isalpha():
        only_alpha += char
print(only_alpha)

enter a string shubham232423

shubham

ques26)count the number of uppercase letters in a string

In [2]:
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count


input_string = "HelloWORLD"
result = count_uppercase(input_string)
print(result)

6

ques27) count the number of lowercase letters in a string

In [3]:
def count_lowercase(input_string):
    lowercase_count = sum(1 for char in input_string if char.islower())
    return lowercase_count


input_string = "HelloWORLD"
result = count_lowercase(input_string)
print(result)

4

ques28) swap the case of each character in a string

In [4]:
string = input("enter your string:")
swapping = string.swapcase()
print(swapping)

enter your string: SHUbham

shuBHAM

ques29) remove a specific word from a string

In [8]:

app = "app is important"
app.lstrip('app')

' is important'

 ques30) check if a string is a valid email address

In [10]:

import re
 

regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
 

def check(email):
 
   
    if(re.fullmatch(regex, email)):
        print("Valid Email")
 
    else:
        print("Invalid Email")
 
# Driver Code
if __name__ == '__main__':
 
  
    email = "ankitrai326@gmail.com"
 
    
    check(email)
 
    email = "my.ownsite@our-earth.org"
    check(email)
 
    email = "ankitrai326.com"
    check(email)

Valid Email
Valid Email
Invalid Email

ques31)Extract the username from an email address string.

In [3]:
import re

def extract_username(email):
    # Use regular expression to extract the username
    match = re.match(r'^([a-zA-Z0-9_.+-]+)@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$', email)
    
    if match:
        return match.group(1)
    else:
        return None

# Example usage:
email_address = 'example.user@example.com'
username = extract_username(email_address)

if username:
    print(f'The username is: {username}')
else:
    print('Invalid email address format.')

The username is: example.user

32. Extract the domain name from an email address string

In [4]:
import re

def extract_domain(email):
    # Use regular expression to extract the domain
    match = re.match(r'^[a-zA-Z0-9_.+-]+@([a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)$', email)
    
    if match:
        return match.group(1)
    else:
        return None

# Example usage:
email_address = 'example.user@example.com'
domain = extract_domain(email_address)

if domain:
    print(f'The domain is: {domain}')
else:
    print('Invalid email address format.')

The domain is: example.com

33. Replace multiple spaces in a string with a single space.

In [9]:

let str = " Welcome to Geeks for Geeks ";


let newStr = str.trim().split(/[\s,\t,\n]+/).join(' ');


console.log(newStr);

SyntaxError: invalid syntax (3063647790.py, line 1)

34. Check if a string is a valid URL.

In [7]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False
url_to_check = "https://www.example.com"
if is_valid_url(url_to_check):
    print(f"{url_to_check} is a valid URL")
else:
    print(f"{url_to_check} is not a valid URL")

https://www.example.com is a valid URL

35. Extract the protocol (http or https) from a URL string.

In [8]:
from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme

# Example usage:
url_to_extract = "https://www.example.com/path/to/resource"
protocol = extract_protocol(url_to_extract)
print(f"The protocol of {url_to_extract} is: {protocol}")

The protocol of https://www.example.com/path/to/resource is: https

36. Find the frequency of each character in a string.

In [12]:
test_str = "GeeksforGeeks"
 
# using naive method to get count
# of each element in string
all_freq = {}
 
for i in test_str:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1
 
# printing result
print("Count of all characters in GeeksforGeeks is :\n "
      + str(all_freq))

Count of all characters in GeeksforGeeks is :
 {'G': 2, 'e': 4, 'k': 2, 's': 2, 'f': 1, 'o': 1, 'r': 1}

37. Remove all punctuation from a string.

In [13]:
import string

def remove_punctuation(input_string):
    translator = str.maketrans("", "", string.punctuation)
    return input_string.translate(translator)

# Example usage:
input_string = "Hello, World! This is an example string."
result_string = remove_punctuation(input_string)

print("Original string:", input_string)
print("String without punctuation:", result_string)

Original string: Hello, World! This is an example string.
String without punctuation: Hello World This is an example string

38. Check if a string contains only digits.

In [14]:
my_string = "1234"
if my_string.isdigit():
    print("The string contains only digits!")
else:
    print("The string does not contain only digits.")

The string contains only digits!

39. Check if a string contains only alphabets.

In [16]:
my_string = "shubham"
if my_string.isalpha():
    print("the string contains only alphabets")
else:
    print("the string does not contains only alphabets")

the string contains only alphabets

40. Convert a string to a list of characters.

In [17]:
string = "geeksforgeeks"
print([*string])

['g', 'e', 'e', 'k', 's', 'f', 'o', 'r', 'g', 'e', 'e', 'k', 's']

41. Check if two strings are anagrams.

In [18]:
def are_anagrams(str1, str2):
    # Remove spaces and convert to lowercase for case-insensitive comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Check if the sorted characters of both strings are the same
    return sorted(str1) == sorted(str2)

# Example usage:
string1 = "Listen"
string2 = "Silent"

if are_anagrams(string1, string2):
    print(f"{string1} and {string2} are anagrams.")
else:
    print(f"{string1} and {string2} are not anagrams.")

Listen and Silent are anagrams.

42. Encode a string using a Caesar cipher.

In [19]:
def caesar_cipher_encrypt(text, shift):
    result = ""

    for char in text:
        if char.isalpha():
            # Determine the case (uppercase or lowercase)
            if char.isupper():
                result += chr((ord(char) - ord('A' ) + shift) % 26 + ord('A'))
            else:
                result += chr((ord(char) - ord('a' ) + shift) % 26 + ord('a'))
        else:
            # If the character is not a letter, leave it unchanged
            result += char

    return result

# Example usage:
plaintext = "Hello, World!"
shift_value = 3
encrypted_text = caesar_cipher_encrypt(plaintext, shift_value)

print(f"Original text: {plaintext}")
print(f"Encrypted text: {encrypted_text}")

Original text: Hello, World!
Encrypted text: Khoor, Zruog!

43. Decode a Caesar cipher encoded string.

In [20]:
def caesar_cipher_decrypt(text, shift):
    # To decrypt, use a negative shift value
    return caesar_cipher_encrypt(text, -shift)

# Example usage:
encrypted_text = "Khoor, Zruog!"
shift_value = 3
decrypted_text = caesar_cipher_decrypt(encrypted_text, shift_value)

print(f"Encrypted text: {encrypted_text}")
print(f"Decrypted text: {decrypted_text}")

Encrypted text: Khoor, Zruog!
Decrypted text: Hello, World!

44. Find the most frequent word in a string.

In [21]:
def most_frequent_word(input_string):
    word_frequency = {}

    # Split the string into words
    words = input_string.split()

    for word in words:
        # Remove punctuation and convert to lowercase for case-insensitive comparison
        word = word.strip('.,?!').lower()

        # Count the frequency of each word
        if word in word_frequency:
            word_frequency[word] += 1
        else:
            word_frequency[word] = 1

    # Find the word with the highest frequency
    most_frequent = max(word_frequency, key=word_frequency.get)

    return most_frequent

# Example usage:
input_string = "This is an example string. This string contains repeated words, and it is an example."

most_frequent_word_result = most_frequent_word(input_string)
print(f"The most frequent word is: {most_frequent_word_result}")
6

The most frequent word is: this

6

45. Find all unique words in a string.

In [23]:
def unique_words(input_string):
    unique_word_set = set()

    # Split the string into words
    words = input_string.split()

    for word in words:
        # Remove punctuation and convert to lowercase for case-insensitive comparison
        word = word.strip('.,?!').lower()

        # Add the cleaned word to the set
        unique_word_set.add(word)

    return unique_word_set

# Example usage:
input_string = "This is an example string. This string contains repeated words, and it is an example."

unique_words_set = unique_words(input_string)
print("Unique words in the string:")
for word in unique_words_set:
    print(word)

Unique words in the string:
and
it
string
example
repeated
an
this
words
is
contains

46. Count the number of syllables in a string.

In [27]:
def syllable_count(word):
    count = 0
    vowels = "aeiouy"
    if word[0] in vowels:
        count += 1
    for index in range(1, len(word)):
        if word[index] in vowels and word[index - 1] not in vowels:
            count += 1
            if word.endswith("e"):
                count -= 1
    if count == 0:
        count += 1
    return count
print(syllable_count("HAIRY"))

1

47. Check if a string contains any special characters.

In [28]:
import re

def contains_special_characters_regex(input_string):
    pattern = re.compile(r"[~`!@#$%^&*()_+={}[\]:;'<>,.?/\\]")
    return bool(pattern.search(input_string))

# Example usage:
test_string = "Hello, World!"
if contains_special_characters_regex(test_string):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string contains special characters.

48. Remove the nth word from a string.

In [29]:
def remove_nth_word(input_string, n):
    words = input_string.split()
    
    if 1 <= n <= len(words):
        del words[n - 1]

    return ' '.join(words)

# Example usage:
original_string = "This is an example sentence to demonstrate removing the nth word."
n = 3

result_string = remove_nth_word(original_string, n)
print(f"Original string: {original_string}")
print(f"String with the {n}th word removed: {result_string}")

Original string: This is an example sentence to demonstrate removing the nth word.
String with the 3th word removed: This is example sentence to demonstrate removing the nth word.

49. Insert a word at the nth position in a string.

In [30]:
def insert_word_at_nth_position(input_string, new_word, n):
    words = input_string.split()
    
    if 0 <= n <= len(words):
        words.insert(n, new_word)

    return ' '.join(words)

# Example usage:
original_string = "This is an example sentence to demonstrate inserting a word."
new_word = "fantastic"
insert_position = 4

result_string = insert_word_at_nth_position(original_string, new_word, insert_position)
print(f"Original string: {original_string}")
print(f"String with '{new_word}' inserted at position {insert_position}: {result_string}")

Original string: This is an example sentence to demonstrate inserting a word.
String with 'fantastic' inserted at position 4: This is an example fantastic sentence to demonstrate inserting a word.

50. Convert a CSV string to a list of lists.

In [33]:
import csv
from io import StringIO

def csv_string_to_list_of_lists(csv_string):
    # Create a CSV reader using StringIO to read from the string
    csv_reader = csv.reader(StringIO(csv_string))
    
    # Convert the CSV reader to a list of lists
    list_of_lists = [row for row in csv_reader]

    return list_of_lists

# Example usage:
csv_string = "Name,Age,Location\nJohn,25,New York\nAlice,30,San Francisco\nBob,22,Los Angeles"

list_of_lists = csv_string_to_list_of_lists(csv_string)
print("List of lists:")
for row in list_of_lists:
    print(row)

List of lists:
['Name', 'Age', 'Location']
['John', '25', 'New York']
['Alice', '30', 'San Francisco']
['Bob', '22', 'Los Angeles']

LIST BASED PRACTICE PROBLEM :

1. Create a list with integers from 1 to 10.

In [2]:
my_list = [1,2,3,4,5,6,7,8,9,10]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function

In [4]:
my_list = [1,2,3,4,5,6,7,8,9,10]
length = 0
for i in my_list:
    length +=1
print("length of list :",length)

length of list : 10

3. Append an element to the end of a list.

In [5]:
my_list = [1, 2, 3, 4, 5]

# Append an element to the end of the list
my_list.append(6)

print("Updated list:", my_list)

Updated list: [1, 2, 3, 4, 5, 6]

4. Insert an element at a specific index in a list

In [6]:
my_list = [1, 2, 3, 4, 5]

# Insert the element 10 at index 2
my_list.insert(2, 10)

print("Updated list:", my_list)

Updated list: [1, 2, 10, 3, 4, 5]

5. Remove an element from a list by its value.

In [8]:
my_list = [1, 2, 3, 4, 5]

# Remove the element 3 from the list
my_list.remove(3)

print("Updated list:", my_list)

Updated list: [1, 2, 4, 5]

6. Remove an element from a list by its index

In [10]:
my_list = [1, 2, 3, 4, 5]

# Remove the element at index 2
removed_element = my_list.pop(2)

print("Updated list:", my_list)
print("Removed element:", removed_element)

Updated list: [1, 2, 4, 5]
Removed element: 3

7. Check if an element exists in a list.

In [11]:
my_list = [1, 2, 3, 4, 5]

# Check if the element 3 is in the list
if 3 in my_list:
    print("Element 3 is in the list.")
else:
    print("Element 3 is not in the list.")

Element 3 is in the list.

8. Find the index of the first occurrence of an element in a list.

In [14]:
my_list = [1, 2, 3, 4, 5]

# Find the index of the element 3
index_of_3 = my_list.index(3)

print("Index of element 3:", index_of_3)

Index of element 3: 2

9. Count the occurrences of an element in a list.

In [15]:
my_list = [1, 2, 3, 4, 3, 5, 3]

# Count the occurrences of the element 3
count_of_3 = my_list.count(3)

print("Occurrences of element 3:", count_of_3)

Occurrences of element 3: 3

10. Reverse the order of elements in a list.

In [17]:
my_list = [1, 2, 3, 4, 5]

# Reverse the order of elements using slicing
reversed_list = my_list[::-1]

print("Reversed list:", reversed_list)

Reversed list: [5, 4, 3, 2, 1]

11. Sort a list in ascending order

In [18]:
my_list = [5, 2, 8, 1, 3]

# Create a new sorted list without modifying the original
sorted_list = sorted(my_list)

print("Original list:", my_list)
print("Sorted list in ascending order:", sorted_list)

Original list: [5, 2, 8, 1, 3]
Sorted list in ascending order: [1, 2, 3, 5, 8]

12. Sort a list in descending order.

In [19]:
my_list = [5, 2, 8, 1, 3]

# Sort the list in descending order using sort() method
my_list.sort(reverse=True)

print("Sorted list in descending order:", my_list)

Sorted list in descending order: [8, 5, 3, 2, 1]

13. Create a list of even numbers from 1 to 20

In [20]:
even_numbers = [x for x in range(2, 21, 2)]

print("List of even numbers from 1 to 20:", even_numbers)

List of even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [21]:
odd_numbers = [x for x in range(1, 21, 2)]

print("List of odd numbers from 1 to 20:", odd_numbers)

List of odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list

In [22]:
my_list = [1, 2, 3, 4, 5]

# Find the sum of all elements in the list
sum_of_elements = sum(my_list)

print("Sum of elements in the list:", sum_of_elements)

Sum of elements in the list: 15

16. Find the maximum value in a list

In [23]:
my_list = [3, 8, 2, 10, 5]

# Find the maximum value in the list
max_value = max(my_list)

print("Maximum value in the list:", max_value)

Maximum value in the list: 10

17. Find the minimum value in a list.

In [24]:
my_list = [3, 8, 2, 10, 5]

# Find the minimum value in the list
min_value = min(my_list)

print("Minimum value in the list:", min_value)

Minimum value in the list: 2

18. Create a list of squares of numbers from 1 to 10.

In [25]:
squares_list = [x**2 for x in range(1, 11)]

print("List of squares of numbers from 1 to 10:", squares_list)

List of squares of numbers from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [26]:
import random

# Create a list of 5 random numbers between 1 and 10
random_numbers = [random.randint(1, 10) for _ in range(5)]

print("List of random numbers:", random_numbers)

List of random numbers: [10, 6, 4, 9, 2]

20. Remove duplicates from a list.

In [27]:
my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates by converting the list to a set and back to a list
unique_list = list(set(my_list))

print("List with duplicates:", my_list)
print("List without duplicates:", unique_list)

List with duplicates: [1, 2, 2, 3, 4, 4, 5]
List without duplicates: [1, 2, 3, 4, 5]

21. Find the common elements between two lists.

In [1]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = [element for element in list1 if element in list2]

print("Common elements:", common_elements)

Common elements: [3, 4, 5]

22. Find the difference between two lists.

In [2]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

difference_list1 = list(set(list1) - set(list2))
difference_list2 = list(set(list2) - set(list1))

print("Elements unique to list1:", difference_list1)
print("Elements unique to list2:", difference_list2)

Elements unique to list1: [1, 2]
Elements unique to list2: [6, 7]

23. Merge two lists.

In [3]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

merged_list = list1 + list2

print("Merged List:", merged_list)

Merged List: [1, 2, 3, 4, 5, 6]

24. Multiply all elements in a list by 2.

In [4]:
original_list = [1, 2, 3, 4, 5]

doubled_list = [element * 2 for element in original_list]

print("Original List:", original_list)
print("Doubled List:", doubled_list)

Original List: [1, 2, 3, 4, 5]
Doubled List: [2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [5]:
string_list = ["1", "2", "3", "4", "5"]

integer_list = [int(element) for element in string_list]

print("String List:", string_list)
print("Integer List:", integer_list)

String List: ['1', '2', '3', '4', '5']
Integer List: [1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings

In [6]:
integer_list = [1, 2, 3, 4, 5]

string_list = [str(element) for element in integer_list]

print("Integer List:", integer_list)
print("String List:", string_list)

Integer List: [1, 2, 3, 4, 5]
String List: ['1', '2', '3', '4', '5']

28. Flatten a nested list

In [7]:
def flatten_list(nested_list):
    flat_list = []
    for element in nested_list:
        if isinstance(element, list):
            flat_list.extend(flatten_list(element))
        else:
            flat_list.append(element)
    return flat_list

nested_list = [1, [2, 3, [4, 5]], 6, [7, 8]]
flat_list = flatten_list(nested_list)

print("Nested List:", nested_list)
print("Flattened List:", flat_list)

Nested List: [1, [2, 3, [4, 5]], 6, [7, 8]]
Flattened List: [1, 2, 3, 4, 5, 6, 7, 8]


29. Create a list of the first 10 Fibonacci numbers.

In [9]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]

    while len(fibonacci_list) < n:
        next_number = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_number)

    return fibonacci_list[:n]

# Generate the first 10 Fibonacci numbers
first_10_fibonacci = generate_fibonacci(10)

print("First 10 Fibonacci Numbers:", first_10_fibonacci)

First 10 Fibonacci Numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted

In [10]:
def is_sorted(lst):
    return all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))

# Example usage:
sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [3, 1, 4, 1, 5, 9, 2, 6]

print("Is the sorted_list sorted?", is_sorted(sorted_list))
print("Is the unsorted_list sorted?", is_sorted(unsorted_list))

Is the sorted_list sorted? True
Is the unsorted_list sorted? False

31. Rotate a list to the left by 'n' positions.

In [11]:
def rotate_left(lst, n):
    n = n % len(lst)  # Ensure n is within the length of the list
    rotated_list = lst[n:] + lst[:n]
    return rotated_list

# Example usage:
original_list = [1, 2, 3, 4, 5]
positions_to_rotate = 2

rotated_list = rotate_left(original_list, positions_to_rotate)

print("Original List:", original_list)
print(f"Rotated List to the left by {positions_to_rotate} positions:", rotated_list)

Original List: [1, 2, 3, 4, 5]
Rotated List to the left by 2 positions: [3, 4, 5, 1, 2]

32. Rotate a list to the right by 'n' positions.

In [12]:
def rotate_right(lst, n):
    n = n % len(lst)  # Ensure n is within the length of the list
    rotated_list = lst[-n:] + lst[:-n]
    return rotated_list

# Example usage:
original_list = [1, 2, 3, 4, 5]
positions_to_rotate = 2

rotated_list = rotate_right(original_list, positions_to_rotate)

print("Original List:", original_list)
print(f"Rotated List to the right by {positions_to_rotate} positions:", rotated_list)

Original List: [1, 2, 3, 4, 5]
Rotated List to the right by 2 positions: [4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [13]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate a list of prime numbers up to 50
prime_numbers_up_to_50 = [num for num in range(2, 51) if is_prime(num)]

print("Prime Numbers up to 50:", prime_numbers_up_to_50)

Prime Numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size 'n'.

In [14]:
def split_into_chunks(lst, n):
    return [lst[i:i+n] for i in range(0, len(lst), n)]

# Example usage:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3

chunks = split_into_chunks(original_list, chunk_size)

print("Original List:", original_list)
print(f"List split into chunks of size {chunk_size}:", chunks)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List split into chunks of size 3: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list

In [15]:
def second_largest(lst):
    sorted_list = sorted(lst, reverse=True)
    return sorted_list[1] if len(sorted_list) >= 2 else None

# Example usage:
numbers = [10, 5, 8, 12, 7, 3, 15]

result = second_largest(numbers)

print("Original List:", numbers)
print("Second Largest Number:", result)

Original List: [10, 5, 8, 12, 7, 3, 15]
Second Largest Number: 12

36. Replace every element in a list with its square

In [16]:
original_list = [1, 2, 3, 4, 5]

squared_list = [element ** 2 for element in original_list]

print("Original List:", original_list)
print("List with Squared Elements:", squared_list)

Original List: [1, 2, 3, 4, 5]
List with Squared Elements: [1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values

In [18]:
original_list = ['apple', 'banana', 'cherry', 'date']

list_to_dict = {element: index for index, element in enumerate(original_list)}

print("Original List:", original_list)
print("Dictionary:", list_to_dict)

Original List: ['apple', 'banana', 'cherry', 'date']
Dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

38. Shuffle the elements of a list randomly.

In [19]:
import random

original_list = [1, 2, 3, 4, 5]

shuffled_list = original_list.copy()  # Create a copy to avoid modifying the original list
random.shuffle(shuffled_list)

print("Original List:", original_list)
print("Shuffled List:", shuffled_list)

Original List: [1, 2, 3, 4, 5]
Shuffled List: [2, 5, 4, 1, 3]

39. Create a list of the first 10 factorial numbers.

In [20]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Generate a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

print("First 10 Factorial Numbers:", factorial_numbers)

First 10 Factorial Numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [21]:
def have_common_element(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    common_elements = set1.intersection(set2)
    return len(common_elements) > 0

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

result = have_common_element(list1, list2)

print("List 1:", list1)
print("List 2:", list2)
print("Do the lists have at least one common element?", result)

List 1: [1, 2, 3, 4, 5]
List 2: [5, 6, 7, 8, 9]
Do the lists have at least one common element? True

41. Remove all elements from a list.

In [2]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list)

[]

42. Replace negative numbers in a list with 0.

In [4]:
my_list = [1, -2, 3, -4, 5]
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print(my_list)

[1, 0, 3, 0, 5]

43. Convert a string into a list of words.

In [5]:
my_string = "Hello world! This is a sample string."
my_list_of_words = my_string.split()

print(my_list_of_words)

['Hello', 'world!', 'This', 'is', 'a', 'sample', 'string.']

44. Convert a list of words into a string.

In [7]:
my_list_of_words = ['Hello', 'world!', 'This', 'is', 'a', 'sample', 'string.']
my_string = ' '.join(my_list_of_words)

print(my_string)

Hello world! This is a sample string.

45. Create a list of the first 'n' powers of 2

In [8]:
n = 5  # You can replace this with the desired value of n
powers_of_2 = [2**i for i in range(n)]

print(powers_of_2)

[1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [9]:
my_list_of_strings = ["apple", "banana", "kiwi", "orange", "strawberry"]

longest_string = max(my_list_of_strings, key=len)

print("The longest string is:", longest_string)

The longest string is: strawberry

47. Find the shortest string in a list of strings.

In [10]:
my_list_of_strings = ["apple", "banana", "kiwi", "orange", "strawberry"]

shortest_string = min(my_list_of_strings, key=len)

print("The shortest string is:", shortest_string)

The shortest string is: kiwi

48. Create a list of the first 'n' triangular numbers.

In [11]:
n = 5  # You can replace this with the desired value of n
triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]

print(triangular_numbers)

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [12]:
def is_subsequence(sub, lst):
    sub_len, lst_len = len(sub), len(lst)
    i = j = 0

    while i < sub_len and j < lst_len:
        if sub[i] == lst[j]:
            i += 1
        j += 1

    return i == sub_len

# Example
larger_list = [1, 2, 3, 4, 5, 6, 7, 8]
smaller_list = [3, 5, 8]

result = is_subsequence(smaller_list, larger_list)

if result:
    print("The smaller list is a subsequence of the larger list.")
else:
    print("The smaller list is not a subsequence of the larger list.")

The smaller list is a subsequence of the larger list.

50. Swap two elements in a list by their indices.

In [13]:
def swap_elements(lst, index1, index2):
    # Check if indices are within the range of the list
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        lst[index1], lst[index2] = lst[index2], lst[index1]
    else:
        print("Invalid indices.")

# Example
my_list = [1, 2, 3, 4, 5]
print("Original List:", my_list)

# Swap elements at indices 1 and 3
swap_elements(my_list, 1, 3)

print("List after swapping:", my_list)

Original List: [1, 2, 3, 4, 5]
List after swapping: [1, 4, 3, 2, 5]

 Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [14]:
my_tuple = tuple(range(1, 6))
print(my_tuple)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple

In [15]:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]

print("The third element is:", third_element)

The third element is: 3

3. Find the length of a tuple without using the `len()` function.

In [18]:
my_tuple = (1, 2, 3, 4, 5)
tuple_length = 0

for _ in my_tuple:
    tuple_length += 1

print("The length of the tuple is:", tuple_length)

The length of the tuple is: 5

4. Count the occurrences of an element in a tuple

In [19]:
my_tuple = (1, 2, 3, 4, 1, 2, 1, 5)
element_to_count = 1

occurrences = my_tuple.count(element_to_count)

print(f"The element {element_to_count} occurs {occurrences} times in the tuple.")

The element 1 occurs 3 times in the tuple.

5. Find the index of the first occurrence of an element in a tuple.

In [20]:
my_tuple = (1, 2, 3, 4, 1, 2, 1, 5)
element_to_find = 2

index_of_first_occurrence = my_tuple.index(element_to_find)

print(f"The index of the first occurrence of {element_to_find} is: {index_of_first_occurrence}")

The index of the first occurrence of 2 is: 1

6. Check if an element exists in a tuple

In [21]:
my_tuple = (1, 2, 3, 4, 5)
element_to_check = 3

if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

3 exists in the tuple.

7. Convert a tuple to a list.

In [22]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)

print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (1, 2, 3, 4, 5)
List: [1, 2, 3, 4, 5]

8. Convert a list to a tuple.

In [23]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)

print("List:", my_list)
print("Tuple:", my_tuple)

List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [24]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple

print("a:", a)
print("b:", b)
print("c:", c)

a: 1
b: 2
c: 3

10. Create a tuple of even numbers from 1 to 10

In [25]:
even_numbers_tuple = tuple(x for x in range(2, 11, 2))

print(even_numbers_tuple)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10

In [26]:
odd_numbers_tuple = tuple(x for x in range(1, 11, 2))

print(odd_numbers_tuple)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [27]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Concatenated Tuple:", concatenated_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: (4, 5, 6)
Concatenated Tuple: (1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [28]:
original_tuple = (1, 2, 3)

repeated_tuple = original_tuple * 3

print("Original Tuple:", original_tuple)
print("Repeated Tuple:", repeated_tuple)

Original Tuple: (1, 2, 3)
Repeated Tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [30]:
my_tuple = ()

if not my_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

15. Create a nested tuple

In [31]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

print(nested_tuple)

((1, 2, 3), ('a', 'b', 'c'), (True, False))

16. Access the first element of a nested tuple.

In [32]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

first_element = nested_tuple[0][0]

print("The first element of the nested tuple is:", first_element)

The first element of the nested tuple is: 1

17. Create a tuple with a single element.

In [33]:
single_element_tuple = (42,)

print(single_element_tuple)

(42,)

18. Compare two tuples.

In [35]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

if tuple1 == tuple2:
    print("The tuples are equal.")
else:
    print("The tuples are not equal.")

The tuples are not equal.

19. Delete a tuple.

In [39]:
my_tuple = (1, 2, 3, 4, 5)

# Deleting the entire tuple
del my_tuple

# This will raise an error because the tuple no longer exists
#print(my_tuple)

20. Slice a tuple

In [40]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Slice from index 2 to 5 (exclusive)
sliced_portion = my_tuple[2:5]

print("Original Tuple:", my_tuple)
print("Sliced Portion:", sliced_portion)

Original Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Sliced Portion: (3, 4, 5)

21. Find the maximum value in a tuple.

In [41]:
my_tuple = (10, 25, 5, 30, 15)

max_value = max(my_tuple)

print("The maximum value in the tuple is:", max_value)

The maximum value in the tuple is: 30

22. Find the minimum value in a tuple.

In [42]:
my_tuple = (10, 25, 5, 30, 15)

min_value = min(my_tuple)

print("The minimum value in the tuple is:", min_value)

The minimum value in the tuple is: 5

23. Convert a string to a tuple of characters.

In [43]:
my_string = "hello"
tuple_of_characters = tuple(my_string)

print("Original String:", my_string)
print("Tuple of Characters:", tuple_of_characters)

Original String: hello
Tuple of Characters: ('h', 'e', 'l', 'l', 'o')

24. Convert a tuple of characters to a string.

In [44]:
tuple_of_characters = ('h', 'e', 'l', 'l', 'o')
string_from_tuple = ''.join(tuple_of_characters)

print("Tuple of Characters:", tuple_of_characters)
print("String from Tuple:", string_from_tuple)

Tuple of Characters: ('h', 'e', 'l', 'l', 'o')
String from Tuple: hello

25. Create a tuple from multiple data types.

In [45]:
mixed_tuple = (1, 'hello', 3.14, True)

print(mixed_tuple)

(1, 'hello', 3.14, True)

26. Check if two tuples are identical

In [46]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("The tuples are identical.")
else:
    print("The tuples are not identical.")

The tuples are identical.

27. Sort the elements of a tuple.

In [47]:
my_tuple = (4, 2, 8, 1, 7)

# Create a sorted list
sorted_list = sorted(my_tuple)

# Convert the sorted list back to a tuple
sorted_tuple = tuple(sorted_list)

print("Original Tuple:", my_tuple)
print("Sorted Tuple:", sorted_tuple)

Original Tuple: (4, 2, 8, 1, 7)
Sorted Tuple: (1, 2, 4, 7, 8)

29. Convert a tuple of strings to a tuple of integers.

In [48]:
tuple_of_strings = ('1', '2', '3', '4', '5')

# Convert each string to an integer using int()
tuple_of_integers = tuple(int(x) for x in tuple_of_strings)

print("Tuple of Strings:", tuple_of_strings)
print("Tuple of Integers:", tuple_of_integers)

Tuple of Strings: ('1', '2', '3', '4', '5')
Tuple of Integers: (1, 2, 3, 4, 5)

30. Merge two tuples.

In [49]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

merged_tuple = tuple1 + tuple2

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Merged Tuple:", merged_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: ('a', 'b', 'c')
Merged Tuple: (1, 2, 3, 'a', 'b', 'c')

31. Flatten a nested tuple.

In [50]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

flattened_tuple = tuple(item for sublist in nested_tuple for item in sublist)

print("Nested Tuple:", nested_tuple)
print("Flattened Tuple:", flattened_tuple)

Nested Tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))
Flattened Tuple: (1, 2, 3, 'a', 'b', 'c', True, False)

32. Create a tuple of the first 5 prime numbers.

In [51]:
# Manually listing the first 5 prime numbers
prime_numbers = (2, 3, 5, 7, 11)

print("Tuple of the first 5 prime numbers:", prime_numbers)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [52]:
def is_palindrome(my_tuple):
    return my_tuple == my_tuple[::-1]

# Example 1: Palindrome tuple
palindrome_tuple = (1, 2, 3, 2, 1)
result1 = is_palindrome(palindrome_tuple)
print(f"Is the tuple {palindrome_tuple} a palindrome? {result1}")

# Example 2: Non-palindrome tuple
non_palindrome_tuple = (1, 2, 3, 4, 5)
result2 = is_palindrome(non_palindrome_tuple)
print(f"Is the tuple {non_palindrome_tuple} a palindrome? {result2}")

Is the tuple (1, 2, 3, 2, 1) a palindrome? True
Is the tuple (1, 2, 3, 4, 5) a palindrome? False

34. Create a tuple of squares of numbers from 1 to 5.

In [53]:
squares_tuple = tuple(x**2 for x in range(1, 6))

print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [54]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)

print("Original Tuple:", original_tuple)
print("Filtered Tuple (odd numbers only):", filtered_tuple)

Original Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Filtered Tuple (odd numbers only): (1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [55]:
original_tuple = (1, 2, 3, 4, 5)

doubled_tuple = tuple(x * 2 for x in original_tuple)

print("Original Tuple:", original_tuple)
print("Doubled Tuple:", doubled_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Doubled Tuple: (2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [56]:
import random

# Generating a tuple of 5 random numbers between 1 and 100
random_tuple = tuple(random.randint(1, 100) for _ in range(5))

print("Tuple of Random Numbers:", random_tuple)

Tuple of Random Numbers: (70, 20, 7, 39, 60)

38. Check if a tuple is sorted

In [57]:
def is_sorted(my_tuple):
    return my_tuple == tuple(sorted(my_tuple))

# Example 1: Sorted tuple
sorted_tuple = (1, 2, 3, 4, 5)
result1 = is_sorted(sorted_tuple)
print(f"Is the tuple {sorted_tuple} sorted? {result1}")

# Example 2: Unsorted tuple
unsorted_tuple = (5, 3, 1, 4, 2)
result2 = is_sorted(unsorted_tuple)
print(f"Is the tuple {unsorted_tuple} sorted? {result2}")

Is the tuple (1, 2, 3, 4, 5) sorted? True
Is the tuple (5, 3, 1, 4, 2) sorted? False

39. Rotate a tuple to the left by 'n' positions.

In [58]:
def is_sorted(my_tuple):
    return my_tuple == tuple(sorted(my_tuple))

# Example 1: Sorted tuple
sorted_tuple = (1, 2, 3, 4, 5)
result1 = is_sorted(sorted_tuple)
print(f"Is the tuple {sorted_tuple} sorted? {result1}")

# Example 2: Unsorted tuple
unsorted_tuple = (5, 3, 1, 4, 2)
result2 = is_sorted(unsorted_tuple)
print(f"Is the tuple {unsorted_tuple} sorted? {result2}")

Is the tuple (1, 2, 3, 4, 5) sorted? True
Is the tuple (5, 3, 1, 4, 2) sorted? False

40. Rotate a tuple to the right by 'n' positions.

In [59]:
def rotate_tuple_right(my_tuple, n):
    length = len(my_tuple)
    n = n % length  # Ensure n is within the length of the tuple
    rotated_tuple = my_tuple[-n:] + my_tuple[:-n]
    return rotated_tuple

# Example:
original_tuple = (1, 2, 3, 4, 5)
n_positions = 2

rotated_tuple = rotate_tuple_right(original_tuple, n_positions)

print("Original Tuple:", original_tuple)
print(f"Rotated Tuple to the right by {n_positions} positions:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated Tuple to the right by 2 positions: (4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [1]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_numbers = [0, 1]
    while len(fibonacci_numbers) < n:
        next_number = fibonacci_numbers[-1] + fibonacci_numbers[-2]
        fibonacci_numbers.append(next_number)
    return tuple(fibonacci_numbers[:n])

# Generate a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input

In [2]:
# Get user input for elements of the tuple
element1 = input("Enter the first element: ")
element2 = input("Enter the second element: ")
element3 = input("Enter the third element: ")

# Create a tuple from user input
user_input_tuple = (element1, element2, element3)

# Display the resulting tuple
print("User Input Tuple:", user_input_tuple)

Enter the first element:  1
Enter the second element:  2
Enter the third element:  3

User Input Tuple: ('1', '2', '3')

43. Swap two elements in a tuple.

In [5]:
# Original tuple
original_tuple = (1, 2, 3, 4)

# Indices of the elements to swap
index1 = 1
index2 = 2

# Convert the tuple to a list to modify it
list_representation = list(original_tuple)

# Swap the elements using list indices
list_representation[index1], list_representation[index2] = list_representation[index2], list_representation[index1]

# Convert the list back to a tuple
swapped_tuple = tuple(list_representation)

# Display the original and swapped tuples
print("Original Tuple:", original_tuple)
print("Swapped Tuple:", swapped_tuple)

Original Tuple: (1, 2, 3, 4)
Swapped Tuple: (1, 3, 2, 4)

44. Reverse the elements of a tuple

In [6]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5)

# Reverse the tuple
reversed_tuple = tuple(reversed(original_tuple))

# Display the original and reversed tuples
print("Original Tuple:", original_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first 'n' powers of 2.

In [7]:
# Function to generate the first n powers of 2
def generate_powers_of_two(n):
    return tuple(2 ** i for i in range(n))

# Specify the value of n
n = 5

# Generate a tuple of the first n powers of 2
powers_of_two_tuple = generate_powers_of_two(n)

# Display the resulting tuple
print(powers_of_two_tuple)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [8]:
# Function to find the longest string in a tuple
def find_longest_string(input_tuple):
    if not input_tuple:
        return None  # Return None for an empty tuple

    longest_string = input_tuple[0]  # Initialize with the first string
    max_length = len(longest_string)

    for string in input_tuple:
        current_length = len(string)
        if current_length > max_length:
            longest_string = string
            max_length = current_length

    return longest_string

# Example tuple of strings
string_tuple = ("apple", "banana", "kiwi", "strawberry", "blueberry")

# Find the longest string
longest_string = find_longest_string(string_tuple)

# Display the result
print("Longest String:", longest_string)

Longest String: strawberry

47. Find the shortest string in a tuple of strings.

In [9]:
# Function to find the shortest string in a tuple
def find_shortest_string(input_tuple):
    if not input_tuple:
        return None  # Return None for an empty tuple

    shortest_string = input_tuple[0]  # Initialize with the first string
    min_length = len(shortest_string)

    for string in input_tuple:
        current_length = len(string)
        if current_length < min_length:
            shortest_string = string
            min_length = current_length

    return shortest_string

# Example tuple of strings
string_tuple = ("apple", "banana", "kiwi", "strawberry", "blueberry")

# Find the shortest string
shortest_string = find_shortest_string(string_tuple)

# Display the result
print("Shortest String:", shortest_string)

Shortest String: kiwi

48. Create a tuple of the first 'n' triangular numbers.

In [10]:
# Function to generate the first n triangular numbers
def generate_triangular_numbers(n):
    return tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Specify the value of n
n = 5

# Generate a tuple of the first n triangular numbers
triangular_numbers_tuple = generate_triangular_numbers(n)

# Display the resulting tuple
print(triangular_numbers_tuple)

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [1]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    m = len(main_tuple)
    n = len(sub_tuple)

    for i in range(m - n + 1):
        if main_tuple[i:i + n] == sub_tuple:
            return True

    return False

# Example tuples
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 4, 5)

# Check if main_tuple contains sub_tuple as a subsequence
result = contains_subsequence(main_tuple, sub_tuple)

# Display the result
if result:
    print("The tuple contains the subsequence.")
else:
    print("The tuple does not contain the subsequence.")

The tuple contains the subsequence.

50. Create a tuple of alternating 1s and 0s of length 'n'.

In [2]:
# Function to create a tuple of alternating 1s and 0s
def create_alternating_tuple(n):
    return tuple(i % 2 for i in range(n))

# Specify the length of the tuple
n = 8

# Generate the tuple of alternating 1s and 0s
alternating_tuple = create_alternating_tuple(n)

# Display the resulting tuple
print(alternating_tuple)

(0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [4]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

2. Add an element to a set

In [5]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Add an element to the set
my_set.add(6)

# Display the updated set
print(my_set)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [6]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove an element from the set
my_set.remove(3)

# Display the updated set
print(my_set)

{1, 2, 4, 5}

4. Check if an element exists in a set.

In [7]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Check if an element exists in the set
element_to_check = 3
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

5. Find the length of a set without using the 'len()' function.

In [8]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Find the length of the set without using len()
length = 0
for _ in my_set:
    length += 1

# Display the length of the set
print("Length of the set:", length)

Length of the set: 5

6. Clear all elements from a set

In [9]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# Display the empty set
print("Set after clearing:", my_set)

Set after clearing: set()

7. Create a set of even numbers from 1 to 10.

In [10]:
# Create a set of even numbers from 1 to 10
even_numbers_set = {x for x in range(1, 11) if x % 2 == 0}

# Display the resulting set
print(even_numbers_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [11]:
# Create a set of odd numbers from 1 to 10
odd_numbers_set = {x for x in range(1, 11) if x % 2 != 0}

# Display the resulting set
print(odd_numbers_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [12]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the union of the two sets using the union() method
union_set = set1.union(set2)

# Display the resulting set
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5, 6, 7}

10. Find the intersection of two sets.

In [13]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the intersection of the two sets using the intersection() method
intersection_set = set1.intersection(set2)

# Display the resulting set
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {3, 4, 5}

11. Find the difference between two sets.

In [14]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the difference between set1 and set2 using the difference() method
difference_set = set1.difference(set2)

# Display the resulting set
print("Difference between the sets:", difference_set)

Difference between the sets: {1, 2}

12. Check if a set is a subset of another set.

In [15]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Check if set2 is a subset of set1 using the issubset() method
is_subset = set2.issubset(set1)

# Display the result
if is_subset:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

13. Check if a set is a superset of another set.

In [16]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Check if set1 is a superset of set2 using the issuperset() method
is_superset = set1.issuperset(set2)

# Display the result
if is_superset:
    print("set1 is a superset of set2.")
else:
    print("set1 is not a superset of set2.")

set1 is a superset of set2.

14. Create a set from a list.

In [17]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a set from the list using the set() constructor
my_set = set(my_list)

# Display the resulting set
print(my_set)

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [18]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list using the list() constructor
my_list = list(my_set)

# Display the resulting list
print(my_list)

[1, 2, 3, 4, 5]

 16. Remove a random element from a set.

In [1]:
import random

my_set = {1, 2, 3, 4, 5}

# Select and remove a random element from the set
random_element = my_set.pop()

print(f"Removed random element: {random_element}")
print(f"Updated set: {my_set}")

Removed random element: 1
Updated set: {2, 3, 4, 5}

 17. Pop an element from a set.

In [2]:
my_set = {1, 2, 3, 4, 5}

# Pop an element from the set
popped_element = my_set.pop()

print(f"Popped element: {popped_element}")
print(f"Updated set: {my_set}")

Popped element: 1
Updated set: {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [3]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7}

# Check if sets have no elements in common
are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("The sets have no elements in common.")
else:
    print("The sets have at least one common element.")

The sets have no elements in common.

19. Find the symmetric difference between two sets.

In [4]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the symmetric difference using the symmetric_difference() method
symmetric_diff = set1.symmetric_difference(set2)

print(f"Symmetric Difference: {symmetric_diff}")

Symmetric Difference: {1, 2, 5, 6}

 20. Update a set with elements from another set.

In [5]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2 using the update() method
set1.update(set2)

print(f"Updated set1: {set1}")

Updated set1: {1, 2, 3, 4, 5}

 21. Create a set of the first 5 prime numbers.

In [6]:
# Create a set of the first 5 prime numbers
prime_numbers_set = {2, 3, 5, 7, 11}

print("Set of the first 5 prime numbers:", prime_numbers_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

 22. Check if two sets are identical

In [7]:
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}

# Check if sets are identical using the == operator
are_identical = set1 == set2

if are_identical:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

 23. Create a frozen set.

In [8]:
# Create a regular set
my_set = {1, 2, 3, 4, 5}

# Convert the regular set to a frozen set
my_frozen_set = frozenset(my_set)

print("Regular set:", my_set)
print("Frozen set:", my_frozen_set)

Regular set: {1, 2, 3, 4, 5}
Frozen set: frozenset({1, 2, 3, 4, 5})

 24. Check if a set is disjoint with another set.

In [9]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7}

# Check if sets are disjoint using the isdisjoint() method
are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("The sets are disjoint (have no elements in common).")
else:
    print("The sets are not disjoint (have at least one common element).")

The sets are disjoint (have no elements in common).

25. Create a set of squares of numbers from 1 to 5.

In [10]:
# Create a set of squares of numbers from 1 to 5
squares_set = {x**2 for x in range(1, 6)}

print("Set of squares:", squares_set)

Set of squares: {1, 4, 9, 16, 25}

 26. Filter out all even numbers from a set.

In [11]:
# Original set
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Use a set comprehension to filter out even numbers
filtered_set = {x for x in original_set if x % 2 != 0}

print("Original set:", original_set)
print("Filtered set (without even numbers):", filtered_set)

Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Filtered set (without even numbers): {1, 3, 5, 7, 9}

 27. Multiply all elements in a set by 2.

In [12]:
# Original set
original_set = {1, 2, 3, 4, 5}

# Use a set comprehension to create a new set with elements multiplied by 2
multiplied_set = {x * 2 for x in original_set}

print("Original set:", original_set)
print("Multiplied set:", multiplied_set)

Original set: {1, 2, 3, 4, 5}
Multiplied set: {2, 4, 6, 8, 10}

 28. Create a set of random numbers.

In [13]:
import random

# Create a set of 5 random numbers between 1 and 10
random_set = {random.randint(1, 10) for _ in range(5)}

print("Random set:", random_set)

Random set: {1, 2, 3, 9}

 29. Check if a set is empty.

In [14]:
my_set = set()

if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

 30. Create a nested set (hint: use frozenset).

In [15]:
# Create a nested set using frozenset
nested_set = {frozenset({1, 2}), frozenset({3, 4, 5}), frozenset({6, 7, 8})}

print("Nested set:", nested_set)

Nested set: {frozenset({3, 4, 5}), frozenset({8, 6, 7}), frozenset({1, 2})}

 31. Remove an element from a set using the discard method.

In [16]:
my_set = {1, 2, 3, 4, 5}

# Remove an element using the discard() method
my_set.discard(3)

print("Set after discarding element:", my_set)

Set after discarding element: {1, 2, 4, 5}

32. Compare two sets.

In [17]:
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}

if set1 == set2:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

 33. Create a set from a string.

In [18]:
# Create a set from a string
my_string = "hello"
my_set = set(my_string)

print("Original string:", my_string)
print("Set from string:", my_set)

Original string: hello
Set from string: {'l', 'e', 'h', 'o'}

 34. Convert a set of strings to a set of integers.

In [19]:
# Set of strings
set_of_strings = {"1", "2", "3", "4", "5"}

# Convert the set of strings to a set of integers
set_of_integers = {int(x) for x in set_of_strings}

print("Original set of strings:", set_of_strings)
print("Set of integers:", set_of_integers)

Original set of strings: {'4', '2', '3', '5', '1'}
Set of integers: {1, 2, 3, 4, 5}

 35. Convert a set of integers to a set of strings.

In [20]:
# Set of integers
set_of_integers = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings
set_of_strings = {str(x) for x in set_of_integers}

print("Original set of integers:", set_of_integers)
print("Set of strings:", set_of_strings)

Original set of integers: {1, 2, 3, 4, 5}
Set of strings: {'1', '4', '5', '3', '2'}

36. Create a set from a tuple.

In [21]:
# Tuple
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a set
my_set = set(my_tuple)

print("Original tuple:", my_tuple)
print("Set from tuple:", my_set)

Original tuple: (1, 2, 3, 4, 5)
Set from tuple: {1, 2, 3, 4, 5}

 37. Convert a set to a tuple.

In [22]:
# Set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple
my_tuple = tuple(my_set)

print("Original set:", my_set)
print("Tuple from set:", my_tuple)

Original set: {1, 2, 3, 4, 5}
Tuple from set: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [23]:
# Set
my_set = {10, 5, 8, 20, 3}

# Convert the set to a list and find the maximum value
max_value = max(list(my_set))

print("Set:", my_set)
print("Maximum value in the set:", max_value)

Set: {3, 20, 5, 8, 10}
Maximum value in the set: 20

39. Find the minimum value in a set.

In [24]:
# Set
my_set = {10, 5, 8, 20, 3}

# Convert the set to a list and find the minimum value
min_value = min(list(my_set))

print("Set:", my_set)
print("Minimum value in the set:", min_value)

Set: {3, 20, 5, 8, 10}
Minimum value in the set: 3

 40. Create a set from user input.

In [2]:
# Get user input as a comma-separated string
user_input_str = input("Enter elements separated by commas: ")

# Split the input string into a list of elements
elements_list = user_input_str.split(',')

# Create a set from the list
user_set = set(elements_list)

# Print the resulting set
print("The set created from user input:", user_set)

Enter elements separated by commas:  s,h,u,b,h,a,m

The set created from user input: {'b', 'h', 'u', 'm', 'a', 's'}

 41. Check if the intersection of two sets is empty.

In [3]:
# Get user input for the first set
set1_input = input("Enter elements for the first set separated by commas: ")
set1 = set(set1_input.split(','))

# Get user input for the second set
set2_input = input("Enter elements for the second set separated by commas: ")
set2 = set(set2_input.split(','))

# Find the intersection of the two sets
intersection_result = set1.intersection(set2)

# Check if the intersection is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty:", intersection_result)

Enter elements for the first set separated by commas:  1,2,3,4,5,69
Enter elements for the second set separated by commas:  7,8,9,4

The intersection of the two sets is not empty: {'4'}

 42. Create a set of the first 5 Fibonacci numbers.

In [5]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

# Create a set of the first 5 Fibonacci numbers
first_5_fibonacci = generate_fibonacci(5)

# Print the resulting set
print("Set of the first 5 Fibonacci numbers:", first_5_fibonacci)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

 43. Remove duplicates from a list using sets.

In [7]:
# Sample list with duplicates
original_list = [1, 2, 2, 3, 4, 4, 5, 6, 6]

# Remove duplicates using sets
unique_list = list(set(original_list))

# Print the original and unique lists
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [1, 2, 2, 3, 4, 4, 5, 6, 6]
List with Duplicates Removed: [1, 2, 3, 4, 5, 6]

44. Check if two sets have the same elements, regardless of their count.

In [10]:
# Get user input for the first set
set1_input = input("Enter elements for the first set separated by commas: ")
set1 = set(set1_input.split(','))

# Get user input for the second set
set2_input = input("Enter elements for the second set separated by commas: ")
set2 = set(set2_input.split(','))

# Check if the sets have the same elements
if set1 == set2:
    print("The sets have the same elements, regardless of their count.")
else:
    print("The sets do not have the same elements.")

Enter elements for the first set separated by commas:  1,2,3,4
Enter elements for the second set separated by commas:  1,2,3,4

The sets have the same elements, regardless of their count.

 45. Create a set of the first 'n' powers of 2.

In [11]:
# Function to generate the first n powers of 2
def generate_powers_of_2(n):
    powers_of_2_set = set()
    for i in range(n):
        powers_of_2_set.add(2 ** i)
    return powers_of_2_set

# Set the value of n
n = 5  # You can change this to the desired number of powers of 2

# Create a set of the first n powers of 2
powers_of_2_set = generate_powers_of_2(n)

# Print the resulting set
print(f"Set of the first {n} powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

 46. Find the common elements between a set and a list.

In [12]:
# Sample set
set_data = {1, 2, 3, 4, 5}

# Sample list
list_data = [3, 4, 5, 6, 7]

# Find the common elements using the intersection method
common_elements = set_data.intersection(list_data)

# Print the common elements
print("Common elements:", common_elements)

Common elements: {3, 4, 5}

 47. Create a set of the first `n` triangular numbers.

In [13]:
# Function to generate the first n triangular numbers
def generate_triangular_numbers(n):
    triangular_numbers_set = set()
    sum_so_far = 0
    for i in range(1, n + 1):
        sum_so_far += i
        triangular_numbers_set.add(sum_so_far)
    return triangular_numbers_set

# Set the value of n
n = 5  # You can change this to the desired number of triangular numbers

# Create a set of the first n triangular numbers
triangular_numbers_set = generate_triangular_numbers(n)

# Print the resulting set
print(f"Set of the first {n} triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

 48. Check if a set contains another set as a subset.

In [14]:
# Get user input for the first set
set1_input = input("Enter elements for the first set separated by commas: ")
set1 = set(set1_input.split(','))

# Get user input for the second set
set2_input = input("Enter elements for the second set separated by commas: ")
set2 = set(set2_input.split(','))

# Check if set1 is a subset of set2
if set1.issubset(set2):
    print("Set 1 is a subset of Set 2.")
else:
    print("Set 1 is not a subset of Set 2.")

Enter elements for the first set separated by commas:  1,2,3,4
Enter elements for the second set separated by commas:  5,6,8,1

Set 1 is not a subset of Set 2.

 49. Create a set of alternating 1s and 0s of length `n`.

In [15]:
# Set the value of n
n = 10  # You can change this to the desired length

# Create a set of alternating 1s and 0s using a list comprehension
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}

# Print the resulting set
print(f"Set of alternating 1s and 0s of length {n}:", alternating_set)

Set of alternating 1s and 0s of length 10: {0, 1}

 50. Merge multiple sets into one.

In [16]:
# Sample sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge multiple sets using the union method
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}